<nav class="navbar navbar-inverse bg-inverse">
  <a class="navbar-brand" href="/">Ideaocracy</a>
    <% if current_user %>
      <a href="/ideas/new"><i id="lightbulb-icon" class="fa fa-lightbulb-o" aria-hidden="true"></i></a>
    <% end %>
</nav>